@import url('../../globalStyling/variables.less');

.wave {
    width: 100vw;
    object-fit: cover;

    position: fixed;
    // z-index: -1;

}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 10rem @0colIn;

    z-index: 2;

    .document-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.9rem; // justify-content: center;
        // background-color: aqua;

        z-index: 2;

        .btn-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            z-index: 2;
        }
    }

    .boxes {
        display: flex;
        // align-items: center;
        justify-content: center;
        padding: 3.7rem 6.4rem;
        gap: 3.5rem;
        width: 100vw;

        z-index: 3;

        // border: solid 3px red;
    }
}