@import url('../../globalStyling/variables.less');

.result-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 @0colIn;

    .document-box {
        
    }
}
