// SCREEN OVERLAY
.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}




/* LAYOUT GRID */
.layout-grid {
    .screen-overlay();

    display: flex;
    gap: var(--grid-gutter);
    padding: 0 var(--grid-padding);

    pointer-events: none;



    &.hidden .grid-column {
        display: none;
    }


    .grid-column {
        width: 100%;
    }
}


.grid-btn {
    position: fixed;
    bottom: 3.2rem;
    right: 6.4rem;

    opacity: 0;

    z-index: 100;

    &:hover {
        opacity: 1;
    }
}



// MESSAGE
.message-box {
    display: inline-flex;
    align-items: center;

    text-align: center;
    padding: 1.2rem 2.4rem;
    max-width: 30rem;

    text-align: left;
    justify-content: start;

    margin-bottom: 0.2rem;

    border-radius: 3rem;

    // max-width: 16rem;

    &.out {
        background-color: var(--primary-tint-20);
        color: var(--primary-tint-70);
        align-self: end;

        &:has(+ &) {
            border-bottom-right-radius: 0.8rem;
        }

        &:has(+ &) + & {
            border-top-right-radius: 0.8rem;
        }
    }

    &.in {
        background-color: var(--primary-shade-10);
        color: var(--primary-tint-40);
        align-self: start;

        &:has(+ &) {
            border-bottom-left-radius: 0.8rem;
        }
        &:has(+ &) + & {
            border-top-left-radius: 0.8rem;
        }
    }
}



// TITLE BOX
.title-box {
    border-bottom: solid 0.1rem var(--primary-tint-10);
}



// CARD
.card {
    padding: 4.8rem 3.2rem;
    border-radius: 3rem;
    box-shadow: 0 0 3.2rem rgba(181, 154, 184, 0.25);
}