@import url('../../globalStyling/variables.less');

.wave {
    width: 100vw;
    object-fit: cover;

    position: fixed;
    // z-index: -1;

}

.secs {
    display: flex;
    flex-direction: column;

    // align-items: center;
    justify-content: center;

    padding: 9rem 0;

    // gap: 4rem;
    z-index: 1;
    // background-color: red;

    .title {
        // gap: 2.4rem;
        color: #cfcfcf;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--primary-tint-30);
        }
    }

    .documents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        padding: 0 @0colIn;
        gap: 3.2rem;

        z-index: 2;
    }
}

.p1 {
    color: var(--primary-tint-10);
    font-size: 1.2rem;
}