.wave {
    width: 100vw;
    object-fit: cover;

    position: fixed;
    // z-index: -1;

}

.secs {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 9rem;

    gap: 4rem;
    z-index: 1;

    .title {
        gap: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .documents {
        // border: 3px solid aqua;

        padding: 7.6rem 1rem;
        gap: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 2;
    }
}

.file-container {
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;

    border-radius: 1.5rem;
    // border: 2px solid red;

    box-shadow: 0.2rem 0rem 1rem rgba(181, 154, 184, 0.25);

    .file {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 1.2rem;



    }

}

.p1 {
    color: var(--primary-tint-10);
    font-size: 1.2rem;
}